<div id="k-body"><!-- content wrapper -->
    
    	<div class="container"><!-- container -->
        
        	<div class="row"><!-- row -->
            
                <!-- top search end -->
            
            <!--	<div class="k-breadcrumbs col-lg-12 clearfix">
                
                	<?php //include('marquee.php'); ?>
                    
                </div>--><!-- breadcrumbs end -->               
                
            </div><!-- row end -->
            
            <div class="row no-gutter"><!-- row -->
                
                <div class="col-lg-9 col-md-9 col-lg-push-3 col-md-push-3"><!-- doc body wrapper -->
                	
                    <div class="col-padded"><!-- inner custom column -->
                    
                    	<div class="row gutter"><!-- row -->
                        
                        	<div class="col-lg-12 col-md-12">
                    
                             

<div id="AboutJNTUK" class="tabcontent">
  <h3 class="page-title">About Jntuk</h3>
    <hr class="star-primary"></hr>
	 <h3 class="page-title">Vision</h3>
	<p>"The University is primarily promoting quality of education in the areas of
Science, Technology, Engineering and Management (STEM) as four academic
pillars of education, to excel in teaching, learning, research, consultancy and
placements through innovative practices with global perspective".</p>
 <h3 class="page-title">Mission</h3>
 <p>
 The University is moving forward wi t h a mission of promoting excellence, access,
inclusion a n d relevance in quality e d u c a t i o n in Science, Technology,
Engineering and Management , n ame l y
<li> Design a n Industry relevant outcome based curriculum from t ime t o t ime
w i t h a Global perspective</li>
<li> Promoting quality e d u c a t i o n by embracing ICT del i ver y mechanism
with continuous pedagogy through e-learning mechanism</li>
<li> Spread across for industry collaborations with a focus to pre-training
and placements for technology transfer t o society</li>
<li> Establishing centers of excellence to promote research and
innovations in multidisciplinary areas to bring in patent culture and
consultancy practices</li>
<li>International Collaborations for student outreach</li>
<li> Facilitating i n t e r n a t i o n a l students to study in JNTUK to infuse c ros s
culture</li>
<li> learning practices</li>
 </p>
  <p>The college has made rapid strides since its formation and is playing a pivotal role in the technological advances of the region.</p>
  <p>
 
All the five engineering departments are provided with RCC roof buildings. Additional accommodation for Electronics and Telecommunications Engineering, Computer Science & Engineering and Electrical and Electronics Engineering departments is being provided through new buildings as annexes to the existing ones. Plans are afoot to accommodate teaching and non-teaching staff in newly constructed quarters in place of present 50 year old sheds.
The college provides hostel accommodation for nearly about 400 boys and 300 girls. Other amenities on the campus include Bank, Post-Office, dispensary, guesthouse, and play fields.</p>
<p>
 
The Research and Development activity in the College got a boost with the procurement of modern and sophisticated equipment under MHRD and AICTE schemes. Academically, the post-graduate programmes introduced in 1971 in each of the available disciplines have undergone changes in course-structure and syllabi to meet the demands of the current needs. A new under-graduate programme in Computer Science and Engineering has been introduced subsequently. Another post-graduate programme is added in each of the disciplines along with one in Computer Science and Engineering. Now, the college has five U.G. Programmes and Nine P.G. Programmes to its credit. In addition the college helps unemployed under-employed diploma and degree holders in Engineering to improve their qualifications through its continuing education programmes.
 </p>
<p>
The college has plans to provide an e-class room on each of Engineering Department. The college follows a continuous method of evaluation for internal assessment and external mode for end-examinations under semester system. Most of the faculty on rolls at present are having Ph.D and a few more are in the process of acquiring. The college, itself, has got the credit of producing a few Ph.Ds through various research schemes within the available resources and those obtained from different funding agencies in addition to several M.Tech, M.S and a few M.Phil degrees. A few funded and sponsored research schemes have been in progress. Members of the teaching faculty have authored a good number of research papers, research reports and text-books. Departments in the college have conducted number of summer schools, seminars, workshops, symposia and conferences. In addition, quite a few collaborative research schemes sponsored by CSIR, CRRI, ISRO, BHEL etc have been/are being carried out.
 </p>
<p>
The main library is situated in a separated block housing more than 54,000 volumes and contributed 12 numbers of journals maintained by two qualified librarians and necessary supporting staff for 12hrs a day for 6 days and 9 a.m to 1.00pm on Sunday. It is undergoing changes for automation. In addition, a book-bank with more than 3000 volumes is at the disposal of students for borrowing by BC, SC and ST categories. These books are procured from the funds provided by the Social Welfare Department. Over and above, each of the Engineering Departments have Departmental Libraries to reduce the burden on the Central Library and for the convenience of staff.
 </p>
<p>
Several working/retired public and private sector organizations are benefited by consulting this college for technical advice. The College, also, made in roads into community development works by helping the local administrative authorities like municipalities, state police, endowments department, in designing drainage systems, traffic and pollution surveys, software development (e-cop) etc. The Civil Engineering department has got its additional accommodation with Rs.68.0 lakhs, half of which is from the amounts earned through consultancy. The Civil Engineering earns about 18 lakhs annually. With a few power projects coming up in the Private Sectors in and around Kakinada, a lot of Geotechnical investigation activity has been undertaken by the Civil Engineering Department. Some of important clients include ONGC, Kakinada Port Project, Sri Shakthi Gas Limited besides World Bank and Asian Development Bank (ADB) Aided Projects. The Mechanical Engineering Department offers consultancy works in the testing of pressure gauges, lubricating oils etc., and mineralogical investigations. The Electrical Engineering Department has been offering services in high voltage testing, calibration of meters, measurement of leakage currents in insulated High Voltage (HV) sticks and ladders and design of heavy current contactors.
 </p>
<p>
The college successfully celebrated its Silver Jubilee in 1971. The college also celebrated its Golden Jubilee grandly during 1995 – 1996. With the help of funds raised through the contributions from the Alumni, a Golden Jubilee block (Swarnotsav Bhavan) has been constructed on the campus mainly to encourage Research & Development activities. The college has presently entered into the Diamond Jubilee year. The celebrations from July 2005 – July 2006 will be land marked with academic and cultural activities.
 </p>
<p>
This is not just an engineering school but a student school which gives you the opportunity to do groundbreaking, fundamental research.
 </p>
<p>
The college has a Placement and Training cell and every year a good number of students benefit in securing employment in reputed organizations.
 </p>
<p>
In addition to National Cadet Corps (NCC) and National Social Service (NSS) units, there are also technical clubs, a few student wings of professional bodies like the student chapter of IEEE and CSI. Community development programmes will turn a new leaf at JNTU K with ‘Hitaishita’.
 </p>
<p>
Almost all the laboratories have been modernized and obsolete equipment has been replaced under the Modernization and Removal of Obsolescence (MODROBS) scheme of all the All India Council for Technical Education (AICTE).
 </p>
<p>
The college has been admitted to the World Bank Aid through a programme called Technical Education Quality Programme (TEQIP) under which Rs.12 crores aid will be provided. The University has been accredited by the National Board of Assessment and Accreditation Council (NAAC) of University Grants Commission (UGC) with ‘A’ Grade.
 </p>
<p>
The college has also applied for the accreditation of its various programmes by the National Board of Accreditation (NBA) of AICTE.
 </p>
<p>
A student amenities centre is successfully functioning on the campus with facilities like STD booth, Photocopy Centre, Internet Centre, fancy and bookstore. In addition the State Bank of India and the Postal Department are running their branches on the campus since long. The college provides medical facilities on the campus through a dispensary with a medical officer deputed by the Government of Andhra Pradesh and the supporting staff provided by the college. A new P.G Hostel and additional accommodations for the existing ladies hostel will be the new added facilities for students in the campus. The hostels and dining areas/ food courts have been renovated in a large scale with all modern facilities.
 </p>
<p>
Each department has got its own computer centre. A central internet facility is available in the Electronics and Communication Engineering department with access to both staff and students. In addition, an internet laboratory is attached to Computer Science & Engineering department, apart from separate internet connections to some other departments.
 </p>
<p>
The College has a placement and training cell and every year a good number of students benefit in-securing employment in reputed organizations. Further, due to rapid expansion that has gone by in the field of Technical Education in Andhra Pradesh, about 165 Engineering Colleges have been affiliated to the J.N.T. University out of which this college is entrusted with the responsibility of overseeing the examinations in 165 Colleges in this Zone in the capacity of a Nodal Centre. Under this activity, the college has to interact with these colleges to see that the end-semester examinations in all these colleges are conducted in a fair manner, the answer scripts are valued in different spot centers and marks lists are sent to the university to facilitate the processing and announcement of Results. This shows the role of the college as a lead institution.
 </p>
<p>
The alumni association of the college has got a number of its units spread all over the country and even abroad. These units are functioning independently and organizing activities for themselves. Some of the prominent alumni contributed monetarily and a multi-utility building has come up on the campus from these funds which is housing the Training & Placement office, an educational T.V. programmes receiving centre (MANA TV) and a few unfurnished guest rooms. One of the alumni has instituted an annual award for best teacher as recognized by the students. Another alumnus instituted another award for the best outgoing student from each branch of engineering. An annual get-together is also arranged on the campus by the local alumni association on the first Sunday of every calendar year.
 </p>
<p>
There is an auditorium with an area of about 500 sq.m. attached with an open air theatre for organizing the functions with a gathering of 500. A 60 seated bus is available and used for educational tours and technical visits.
</p>

</div>

<div id="tieups" class="tabcontent">
  <h3 class="page-title">TIE UPS & MOU'S</h3>
    <hr class="star-primary"></hr>
  <div id="easyPaginate">
							<ul>
								<li><span>17-05-2018</span>
								<a  href="#" target="_blank">JNTUK &#8211; MoU of VEDA IIT with JNTUK, APSCHE &#038; Industry Consortium, VEDA IIT proposes to introduce MS- VLSI Engineering (Full Time/Regular)- Two Years with four Semesters  from the Academic Year 2018-19 at VEDA IIT, Amaravati</a>	</li>
							<li><span>06-12-2017</span>
							<a  href="pdf/mous/WLMSET-2017-BROCHURE.pdf" target="_blank">JNTUK &#8211; Digital Monitoring Cell &#8211; National Level Two Day &#8220;Workshop on Learning Management Systems and Ed-Tech Tools( WLMSET-2017)&#8221; on 22nd &#8211; 23rd December 2017 at Senate Hall, JNTU Kakinada for MOOCS Single Point of Contacts( SPOCs) &#8211; Reg</a>
							</li>
							<li><span>08-11-2017</span>
							<a  href="pdf/mous/JNTUK-IITB_-Spoken-Tutorial_Agreement.pdf" target="_blank">MOU- JNTUK &#038; Spoken Tutorials, IIT Bombay (ST)</a>						</li>
							<li><span>31-03-2017</span>
							<a  href="pdf/mous/MoU_-_MNCRC.pdf" target="_blank">MoU between JNTUK and Marine Navigation and Communication Research Centre ( MNCRC) -Reg</a>				</li>
							<li><span>16-03-2017</span>
							<a  href="mous/MOU-on-16.03.2017.pdf" target="_blank">JNTUK &#8211; MOU Between JNTUK and Truzio Technologies India Private Limited &#8211; Reg</a>		</li>
							<li><span>16-03-2017</span>
							<a  href="pdf/mous/MOU-Chicago.pdf" target="_blank">JNTUK &#8211; Proposed Guidelines for an MOU between JNTUK and Chicago State University, USA for Ph.D Programme &#8211; Reg</a>
							</li>
							<li><span>08-06-2011</span>
							<a  href="pdf/mous/MOU-JNTUK-Infotech-Enterprises-M-Tech-Avionics-Program-8th-June-2011.pdf" target="_blank">MOU &#8211; JNTUK &#038; Infotech Enterprises &#8211; M Tech &#8211; Avionics  Program</a>
							</li>
							<li><span>20-05-2011</span>
							<a  href="pdf/mous/MOU-JNTUK-University-of-the-Highlands-and-Islands-Perth-College-13th-May-2011.pdf" target="_blank">MOU &#8211; JNTUK &#038; University of the Highlands and Islands &#8211; Perth College</a>
							</li>
							<li><span>12-05-2011</span>
							<a  href="pdf/mous/MOU-JNTUK-heig-vd-Switzerland-12th-May-2011.pdf" target="_blank">MOU &#8211; JNTUK &#038; heig-vd- Switzerland</a>						</li>
							<li><span>28-04-2011</span>
							<a  href="pdf/mous/MOA-JNTUK-Asian-Institute-of-Technology-Thailand-28th-April-2011.pdf" target="_blank">MOA &#8211; JNTUK &#038; Asian Institute of Technology, Thailand</a>
							</li>
							<li><span>19-03-2011</span>
							<a  href="pdf/mous/MOU-JNTUK-SHE-Foundation-19th-March-2011.pdf" target="_blank">MOU &#8211; JNTUK &#038;  SHE Foundation</a>
							</li>
							<li><span>16-03-2011</span>
							<a  href="pdf/mous/MOU-JNTUK-University-Canada-West-16th-March-2011.pdf" target="_blank">MOU &#8211; JNTUK &#038;  University Canada West</a>				</li>
							<li><span>11-12-2010</span>
							<a  href="pdf/mous/MOU-JNTUK-Smart-Net-Working-Switzerland-11th-Dec-2010.pdf" target="_blank">MOU &#8211; JNTUK &#038; Smart Net Working Switzerland</a> 	</li>
							<li><span>10-12-2010</span>
							<a  href="pdf/mous/MOU-JNTUK-Honeywell-Technology-Solutions-10th-Dec-2010.pdf" target="_blank">MOU &#8211; JNTUK &#038;  Honeywell Technology Solutions</a>	</li>
							<li><span>12-02-2010</span>
							<a  href="pdf/mous/MOU-JNTUK-Tejas-Networks-Ltd.-12th-Feb-2010.pdf" target="_blank">MOU &#8211; JNTUK &#038; Tejas Networks Ltd.</a>  						</li>
							<li><span>12-02-2010</span>
							<a  href="pdf/mous/MOU-JNTUK-Synchroserve-Global-Solutions-Private-Ltd.12th-Feb-2010.pdf" target="_blank">MOU &#8211; JNTUK &#038; Synchroserve Global Solutions Private Ltd.</a>
							</li>
							<li><span>01-02-2010</span>
							<a  href="pdf/mous/MOU-JNTUK-Tata-Consultancy-Services-Ltd.-1st-Feb-2010.pdf" target="_blank">MOU &#8211; JNTUK &#038; Tata Consultancy Services Ltd.</a>
							</li>
							<li><span>10-10-2009</span>
							<a  href="pdf/mous/MOA-JNTUK-Central-Michigan-University-10th-Oct-2009.pdf" target="_blank">MOA &#8211; JNTUK &#038; Central Michigan University</a>
							</li>
							<li><span>12-04-2009</span>
							<a  href="pdf/mous/MOC-JNTUK-Blekinze-Institute-of-Technology-Sweden-25th-April-2009.pdf" target="_blank">MOC &#8211; JNTUK &#038; Blekinze Institute of Technology Sweden</a>
							</li>
							<li><span>12-04-2009</span>
							<a  href="pdf/mous/MOU-JNTUK-BEL-Bangalore-12th-April-2009.pdf" target="_blank">MOU &#8211; JNTUK &#038; BEL, Bangalore</a>
							</li>
							<li><span>16-03-2009</span>
							<a  href="pdf/mous/MOU-JNTUK-WIPRO-16th-March-2009.pdf" target="_blank">MOU &#8211; JNTUK &#038; WIPRO</a>
							</li>
							<li><span>05-12-2008</span>
							<a  href="pdf/mous/MOU-JNTUK-Altair-Bangalore-5th-December-2008.pdf" target="_blank">MOU &#8211; JNTUK &#038; Altair Bangalore</a>
							</li>
							</ul>
						</div>
</div>

<div id="EIGHT_DISTRICT_ZONE_OF_EXCELLENCE" class="tabcontent">
  <h3 class="page-title">Eight District Zone of Excellence</h3>
    <hr class="star-primary"></hr>
   <img src="img/edze_pagelogo.gif" title="Eight District Zone of Excellence" style="float:left;padding:10px; border:1px solid #e2e2e2;margin-right:10px;margin-bottom:10px;margin-top:10px;">
  <p>jNTU Kakinada strives to achieve the highest quality programs in a highly dynamic environment. Therfore, we must move expeditiously to take advantage of new opportunities and maximize efficiency. In this context, it may be useful for academic units within the university to examine the organizational structure and work towards the goal.</p>
  <p>

JNTU Kakinada has come up with the concept of 'Eight District Zone of excellence' which aims at establishing a frame work for enhanced cooperation among the constituent colleges and thereby harnessing the strength of interdependence. In simple words it is a 'smart operating model' fro the university and its affiliated colleges, that has been developed by the president of Seattle-based Agovia Consulting Inc, Christopher J. Kaufman and Director of computer sciences Corporation Director and south Carolina (USA) Higher Education Commissioner Raghu B. Korrapati.The two men are now the strategic consultants for JNTU Kakinada.</p>
<p>

The basic idea of Zone of excellence is to utilize skills and infrastructure available in all the affiliated colleges spread across srikakulam, Vizianagaram, Visakhapatnam, East Godavari, West Godavari, Krishna, Guntur and prakasam districts to the maximum use in order to carve a niche for the newly - created University which is aiming to become a world class institution. The underlying objective is to develop Centers of Excellence not one at the university campus but transform every college into a model institution in order to bolster the image of JNTU Kakinada.</p>
<h5>The characteristics of the Eight Districts Zone of Excellence include:</h5>
<ul>
	<li><b>Excellence in academic and research standards and results in all institutions with in the Eight Districts Zone of Excellence: </b>The University is geared up to provide the students and faculty with the latest technology. It is also roping in eminent researchers and scholars to help the students in their research work and help them out as and when needed.
	</li>
	<li><b>Acknowledged quality of education and products from all programmes with in Eight Districts Zone of Excellence:</b>With the best possible inputs, the university is also maintaining a close look towards the outputs. Providing the best quality education to its students, the university aims to come out with such flying colors that the next generation of students before looking for universities like Harvard and Yale, will first look up at JNTU Kakinada.
	</li>
	<li><b>Coordination of allied activities and solutions:</b> For every problem there is a solution and coordination is the best solution to each of them. With an amalgamation of various brain washing activities, the university is set up to wheel its way across the eight district zone of excellence.
	</li>
	<li><b>Messaging and strategic communications to holistically brand the Eight Districts Zone of Excellence: </b>Clarity in communication is the simplest way to understand matters from every aspect- be it from the view point of students or the Vice-chancellor.
	</li>
	<li>
	<b>Competitive admissions for students within the Eight Districts Zone of Excellence: 
	</b>
	As the university aims to be one of the best world class institutions, admissions will also be as per the global recognitions. Students will have to compete among themselves to gain admission to the courses in JNTU Kakinada.
	</li>
</ul>

</div>
<div id="JNTUK_GALLERY" class="tabcontent">
  <h3 class="page-title">JNTUK GALLERY</h3>
  <hr class="star-primary"></hr>
<?php include('gallery.php');?>

</div>
<div id="JNTU_ACT" class="tabcontent">
  <h3 class="page-title">JNTU ACT</h3>
</div>

<div id="TEQIP" class="tabcontent">
  <h3 class="page-title">Technical Education Quality Improvement Programme</h3>
    <hr class="star-primary"></hr>
  <P>The Technical Education Quality Improvement Programme of Government of India (TEQIP) has been conceived in pursuance of the NPE-1986 (as revised in 1992). The Programme aims to upscale and support ongoing efforts of GOI to improve quality of technical education and enhance existing capacities of the institutions to become dynamic, demand-driven, quality conscious, efficient and forward looking, responsive to rapid economic and technological developments occurring both at national and international levels.</P>
  <P>

The broad objectives of the Programme are to create an environment in which engineering institutions selected under the Programme can achieve their own set targets for excellence and sustain the same with autonomy and accountability, support development plans including synergistic networking and services to community and economy for achieving higher standards, and to improve efficiency and effectiveness of the technical education management system. The effort would provide a flexible platform to well performing institutions to acquire excellence in specialised areas and emerge as world-class institutions.</P>
<P>

The Programme will be implemented as a centrally coordinated, multi-state, long-term Programme in overlapping phases. Under each phase, there will be 2 to 3 cycles of selection of well performing institutions in a competitive manner. For the First Cycle of the First Phase, six States namely, Uttar pradesh, Madhya Pradesh, Himachal Pradesh, Kerala, Haryana and Maharastra have been selected to participate in the programme based on their commitment and preparedness. All other States/UTs have the option to participate in subsequent selection cycles depending upon prepardness of their institutions.</P>
</div>


<div id="rti_act" class="tabcontent">
 <h3 class="page-title">RTI ACT</h3>
  <hr class="star-primary"></hr>
 "This sectoion will be updated soon" 
</div>
<div id="Media" class="tabcontent">
 <h3 class="page-title">Media/Press</h3>
  <hr class="star-primary"></hr>
 "This sectoion will be updated soon" 
</div>

<div id="swach" class="tabcontent">
 <h3 class="page-title">Swach Bharat Mission</h3>
  <hr class="star-primary"></hr>
 "This sectoion will be updated soon" 
</div>
                                
                            
                            </div>
                        
                        </div><!-- row end -->
                        
                        <!-- row end -->           
                    
                    </div><!-- inner custom column end -->
                    
                </div><!-- doc body wrapper end -->
                
                <div id="k-sidebar" class="col-lg-3 col-md-3 col-lg-pull-9 col-md-pull-9"><!-- sidebar wrapper -->
                	
                    <div class="col-padded col-shaded"><!-- inner custom column -->
                    
                        <ul class="list-unstyled clear-margins">
                        
                        	<li class="widget-container widget_nav_menu">
                    
									<h1 class="title-widget">ABOUT UNIVERSITY</h1>
								
                                
                                <ul class="tab">
                                	<li>  <button class="tablinks" onClick="openCity(event, 'AboutJNTUK')" id="defaultOpen">About Jntuk</button>
</li>								<li><a href="pdf/song.mp3" target="_blank"  title="University Song">University Song</a></li>
                                    <li><button class="tablinks" onClick="openCity(event, 'tieups')">Tie ups & Mou’s</button></li>
                                    
                                    
									<li><button class="tablinks" onClick="openCity(event, 'JNTUK_GALLERY')">Jntuk Gallery</button></li>
								<!--	<li><button class="tablinks" onClick="openCity(event, 'TEQIP')">TEQIP</button></li>-->
									
									<li><a href="pdf/JNTUACT.pdf" target="_blank"  title="JNTU ACT" download>JNTU Act</a></li>
									<li><button class="tablinks" onClick="openCity(event, 'rti_act')">RTI ACT</button></li>
									<li><button class="tablinks" onClick="openCity(event, 'Media')">Media/Press</button></li>
									<li><button class="tablinks" onClick="openCity(event, 'swach')">Swach Bharat Mission</a></li>
<!--									<li><a href="#" >Anti Ragging Cell</a></li>
-->									<li><a href="pdf/Sexual-Harassment-Committee.pdf" target="_blank"  title="JNTU ACT" download>Sexual Harassment Committees</a></li>
									<li><button class="tablinks" onClick="openCity(event, 'EIGHT_DISTRICT_ZONE_OF_EXCELLENCE')">Eight District Zone Of Excellence </button></li>
										
									
                                </ul>
                   	
							</li>
                          
                        </ul>
                    
                    </div><!-- inner custom column end -->
                    
                </div><!-- sidebar wrapper end -->
            
            </div><!-- row end -->
        
        </div><!-- container end -->
    
    </div>