	<div class="col-sm-8">

			<h3>About Course</h3>
			<p>Master of Business Administration (MBA)
<ul class="info">
<li>
 Imparts a strong theoretical foundation in business concepts.
</li>

<li> Provides practical opportunities via internships, mini projects, group assignments and individual projects.</li>

<li> Builds hard skills in the area of management and leadership.</li>

<li> Polishes a range of soft skills like communication, motivation and negotiation.</li>

<li> Allows MBA students to raise an entrepreneur after graduation.</li>
</ul>
		</div>
		
