<div class="col-sm-8">

			<h3>PRATIBHA AWARDS</h3>
			
			<h6>FOR THE ACADAMIC YEAR 2014-2016</h6>
			<ul class="info">
			<li>SATYA SRUTHI</li>
			<li>RAVALI</li>
			<li>DIVYA</li>
			<li>LAL KRISHNA NAIK</li>
			<li>SRI LAKSHMI SAVITRI SABITHA</li>
			</ul>
			




<h6>FOR THE ACADAMIC YEAR 2015-2017</h6>
<ul class="info"><li></li>
			<li>V.K.LAVANYA</li>
			<li> N.V.SAI LAKSHMI DEVI</li>
			<li> PARIMALA</li>
			<li>SRINIVAS</li>
			<li>TEJA SRAVAN</li>
			</ul>
			<h6>FOR THE ACADAMIC YEAR 2016-2018
</h6>
			<ul class="info">
			<li>GOVARDHAN REDDY</li>
			<li>RENUKA</li>
			<li>SINDHUJA</li>
			<li>JYOTHI BAI</li>
			<li>DIVYA SHANTHI</li>
			<li>HYMAVATHI</li>
			<li></li>
			<li></li>
			
			</ul>



<h6>EVENTS ATTENDED</h6>
<ul class="info"><li>Ms. Roopini & Ms. Maneesha                       Charted Level - 3rd Prize
</li>
<li>Regional Level - 3rd Prize
</li>
<li>November, 2018
</li>
<li>(Conducted by GIET, RJY)
</li>
<li>Ms. Ch. Bhagya Lakshmi                   Natya Priya
</li>
<li>November, 2018
</li>
<li>(Conducted by Chennai)
</li>
</ul>


<h6>Papers presented in Conferences</h6>
<ul>
<li>Pavithra One Day Workshop on Research Methodology on</li>
<li>Santoshi</li>
<li> Sneha Priyanka 15-03-2018</li>
<li>Frazana</li>
<li>Sushmitha</li>
<li>Bhavya</li>
</ul>

</div>