<div class="col-sm-8">

			<h3>Alumini</h3>
			<div class="row">
				<div class="col-sm-5">
					<img src="images/alumini/Alumni-1-300x300.jpg" >
				</div>
				<div class="col-sm-5">
					<img src="images/alumini/Alumni-2-300x300.jpg">
				</div>
				<div class="col-sm-5">
					<img src="images/alumini/Alumni-3-300x300.jpg">
				</div>
				<div class="col-sm-5">
					<img src="images/alumini/Alumni-4-300x300.jpg">
				</div>
				<div class="col-sm-5">
					<img src="images/alumini/image01-300x300.jpg">
				</div>
				<div class="col-sm-5">
					<img src="images/alumini/image02-300x300.jpg">
				</div>
				<div class="col-sm-5">
					<img src="images/alumini/image03-300x300.jpg">
				</div>
				<div class="col-sm-5">
					<img src="images/alumini/image04-300x300.jpg">
				</div>
			</div>

</ul>
</div>