<div class="col-sm-8">

			<h3>Syallabus</h3>
			<!--<p>It is a fact that having educational institutes should be in good conditions where it is decisive for students to achieve the expected academic results.</p>
			<h6>Some of the key facilities we have at SMS are:</h6>
			<ul class="info">
			<li>Spacious and well- ventilated classrooms</li>
<li>Department Library</li>
<li>Interactive Projector’s</li>
<li>Well-equipped Information Technology lab</li>
<li>Common facilities study tables, chairs, furniture and basic utilities such as water, electricity etc.</li>
<li>Dedicated Seminar hall</li>
<li>Well-maintained sanitation facilities</li>

</ul>--->
<p>Section need to be updated.</p>
</div>