<div id="k-body"><!-- content wrapper -->
    
      <div class="container"><!-- container -->
        
          <div class="row"><!-- row -->
            
            &nbsp;            
                
            </div><!-- row end -->
            
            <div class="row no-gutter"><!-- row -->
                
         <div class="col-lg-9 col-md-9 col-lg-push-3 col-md-push-3"><!-- doc body wrapper -->
                  
                    <div class="col-padded"><!-- inner custom column -->
                    
                      <div class="row gutter"><!-- row -->
                        
                          <div class="col-lg-12 col-md-12 dir">
                    
        
      

<!---directors list--->       
                  
                                   
          
                  
                
<div id="chancellor" class="tabcontent">
  <h3 class="page-title">Chancellor</h3>
  <hr class="star-primary"></hr>
  <div class="vc_img"><img src="img/Narasimhan.png" title="Chancellor"></div>

 <H5 align="center">Shri E. S. L. Narasimhan</H5>
<H5 align="center">Governor of Andhra Pradesh & Telangana</H5>
<p>Shri Ekkadu Srinivasan Lakshminarasimhan was born in Tamilnadu in 1945. After an initial two year Schooling at the Little Flower High School at Hyderabad, he completed his entire education from Chennai. Migrating from physics to political science Shri Narasimhan is a Gold Medalist from the Madras Presidency College. He is also a graduate in Law from the Madras Law College.
</p>

<p>
Shri Narasimhan joined the Indian Police Service (IPS) in 1968, and was allotted Andhra Pradesh cadre. After a year's stint at Nandyal, he also did short tenures of a few months at Narasampet and Ongole before moving to the Intelligence Bureau in 1972. He spent the rest of his service, till he demitted office on December, 2006 in the Intelligence Bureau.
</p>

<p>In the Intelligence Bureau, Shri Narasimhan held various assignments relating to national/internal security and was the Director, Intelligence Bureau from January, 2005 to December, 2006. Shri Narasimhan has a keen interest in application of technology for national security purposes.</p> 

<p>Shri Narasimhan has done two tenures in the Ministry of External Affairs. In the first instance he was posted as First Secretary in the Embassy of India, Moscow from 1981-84. During the assignment his role was a combine of physical security measures for the Mission premises and personnel security besides counter intelligence responsibility.</p>

<p>Shri Narasimhan has also served in the Ministry of External Affairs from 1996-99 when he held the responsibility of overseeing the security aspects both human and physical of all the Indian Missions overseas.</p>

<p>Shri Narasimhan is also an alumnus of the National Defence College. He has varied interests ranging from getting to know people to music. He enjoys both Karnatic and Hindustani music.</p> 

<p>On demitting office as Director, Intelligence Bureau on December 31, 2006, Shri Narasimhan took over as Governor of Chhattisgarh on January 25, 2007, in which capacity he played a pivotal role in coordinating Centre-State efforts in countering the Maoist menace in Chhattisgarh.</p>

<p>Shri Narasimhan moved over as Governor of Andhra Pradesh in January, 2010.</p> 

<p>Shri Narasimhan is appointed as Governor of Andhra Pradesh for another term of 5 years on 03-05-2012.</p>

<p>Shri Narasimhan also assumed charge of the office of the Governor of Telangana on 02-06-2014 consequent to bifurcation of the state into successor states of Andhra Pradesh and Telangana.</p> 

<p>Shri Narasimhan is happily married to Smt. Vimala Narasimhan. The Narasimhans have two sons both of whom are married and are proud grand parents of three grandchildren.</p>
</div>

<div id="home" class="tabcontent">
<script type="text/javascript">
//alert("hai");
</script>

 <!-- <h3 class="page-title" >Vice Chancellor</h3>
   <hr class="star-primary"></hr>
   <img src="img/IMG_1315-300x200.jpg"  title="Vice Chancellor" ><br clear="all" />-->
 
</div>

                                
                            
                            </div>
                        
                        </div><!-- row end -->
                        
                        <!-- row end -->           
                    
                    </div><!-- inner custom column end -->
                    
                </div><!-- doc body wrapper end -->
                
                <div id="k-sidebar" class="col-lg-3 col-md-3 col-lg-pull-9 col-md-pull-9"><!-- sidebar wrapper -->
                  
                    <div class="col-padded col-shaded"><!-- inner custom column -->
                    
                        <ul class="list-unstyled clear-margins">
                        
                          <li class="widget-container widget_nav_menu">
                    
                                <h1 class="title-widget">&nbsp;</h1>
                
                                
                                <ul class="tab">
                                    
                                  
                <li><button class="tablinks" onClick="location.href='/'">Home</button></li>
            <li><button class="tablinks" onClick="openCity(event, 'chancellor')" id="defaultOpen">Chancellor</button></li>
            
            
                                </ul>
                    
              </li>
              <li style="height:30px">&nbsp;
              </li>
                            
                         
          
            </li>
            </ul>
                    
                    </div><!-- inner custom column end -->
                    
                </div><!-- sidebar wrapper end -->
            
            </div><!-- row end -->
        
        </div><!-- container end -->
    
    </div><!-- content wrapper end -->
    