<div class="col-sm-8">

			<h3>Contact us</h3>
			<div class="row">
				<div class="col-sm-6">
					<img src="images/contact.png" />
				</div>
				<div class="col-sm-6">
					<h6>Dr. A. Krishna Mohan</h6>
					Director, i/c School of Management Studies<br />
					JNTUK Kakinada<br />
					<i class="fa fa-phone" aria-hidden="true"></i> Contact : 0884-2300915<br />
					<i class="fa fa-envelope" aria-hidden="true"></i>Email : managementjntuk@gmail.com
				</div>
			</div>
		</div>