<div class="col-sm-8">

			<h3>Course Structure</h3>
			<p><ul class="info">
			<li>Initially the course syllabus covers the following core subjects: Accounting, Economics, Organizational Behavior, Principles of management, Human Resources management, Marketing, Information Technology, Financial Management and so on.</li>

<li>Once the basic foundation has been made, you will have the option of specializing in the area desired. This can be done by choosing the electives such as Marketing, Human Resources, Finance and Systems.</li>

<li><a href="#" class="download">Course Structure ( 2016-2017) - download</a></li>
</ul>
</p>
		</div>