<div class="col-sm-8">

			<h3>Eligibility</h3>
			<p>Andhra Pradesh State Council for Higher Education (APSCHE) is responsible for conducting MBA admissions in Andhra Pradesh. 95% of government and private management colleges in Andhra Pradesh accept state-level entrance tests score for MBA admission. Therefore, it is mandatory for students in Andhra Pradesh to appear for state-level management entrance test, i.e., AP ICET for admission in MBA course for the academic sessions.</p>
			<h6>Eligibility Criteria for MBA Admissions:</h6>
			<p>Basic Requirements: In order to get MBA admission in SMS, JNTUK the  aspirants must have a Bachelor’s degree in any discipline from a recognized college or university with 45 – 50% marks. Students with arrears in any of the semesters or years of UG are not eligible to apply and secure admission in MBA course.
			</p>
			<h6>Eligibility Criteria for MBA-Central Michigan University (CMU) Admissions:</h6>
			<p>Basic Requirements: In order to get a collaborated MBA admission in SMS, JNTUK the aspirants must and should have Four yearsbachelor’s degreein any discipline from a recognized college or university with 45 – 50% marks. Students with arrears in any of the semesters or years of UG are not eligible to apply and secure admission in MBA course.
			</p>
			<h6>Documents Required for MBA Admission in Andhra Pradesh:</h6>
			The following are the mandatory documents required to take MBA admission in Andhra Pradesh: –
			<ul class="info">
			
			<li>Residence Certificate (only for candidates applying under convener or state quota)</li>
			<li>Transfer Certificate (TC)</li>
			<li>UG Marks Sheet and Provisional Certificate</li>
			<li>Income Certificate (only reserved and economically backward categories)</li>
			<li>Score Card and Admit Card of Entrance Test</li>
			<li>Category Certificate (applicable to reserved categories)</li>
			<li>Proof of Identity</li>
			<li>Class 12 Certificate</li>
			<li>Class 10 Certificate</li>
			</ul>
</p>
		</div>