<div class="col-sm-8">

			<h3>Faculty Details</h3>
			<table class="table table-striped">
<tbody>
<tr>
<td><strong>S.no:</strong></td>
<td><strong>NAME</strong></td>
<td><strong>QUALIFICATION</strong></td>
<td><strong>Teaching&nbsp;&nbsp; Experience</strong></td>
<td><strong>Industry Experience</strong></td>
<td><strong>E-mail ID’s</strong></td>
</tr>
<tr>
<td>1</td>
<td>Dr. P.V.V.Satyanarayana</td>
<td>M.Com,MBA,M.Phil,B.L,NET,SLET,PhD</td>
<td>25</td>
<td>Nill</td>
<td><a href="mailto:dr.pvvs@gmail.com">dr.pvvs@gmail.com</a></td>
</tr>
<tr>
<td>2</td>
<td>DR.N.M.Jyothirmai</td>
<td>MBA,M.Phil,NET,PhD</td>
<td>18</td>
<td>6</td>
<td><a href="mailto:mjnedunuri@gmail.com">mjnedunuri@gmail.com</a></td>
</tr>
<tr>
<td>3</td>
<td>Dr. B. Charwak</td>
<td>MBA,M.Com,NET,PhD</td>
<td>10</td>
<td>Nill</td>
<td><a href="mailto:b.charwak@gmail.com">b.charwak@gmail.com</a></td>
</tr>
<tr>
<td>4</td>
<td>Smt. V.Srilalita</td>
<td>MBA,M.Phil,NET</td>
<td>16</td>
<td>10</td>
<td><a href="mailto:srilu1970@gmail.com">srilu1970@gmail.com</a></td>
</tr>
<tr>
<td>5</td>
<td>Smt. P.Devi</td>
<td>MBA.,M.Com.,B.L.,(Ph.D)</td>
<td>10</td>
<td>1</td>
<td><a href="mailto:deviannabathula@gmailcom">deviannabathula@gmailcom</a></td>
</tr>
<tr>
<td>6</td>
<td>Mr. S.V.N.Kumar</td>
<td>M.Tech.,MBA.,M.L</td>
<td>13</td>
<td>Nill</td>
<td><a href="mailto:svnkumar.jntu@gmail.com">svnkumar.jntu@gmail.com</a></td>
</tr>
<tr>
<td>7</td>
<td>Mr. C.Suresh Babu</td>
<td>BBM.,PGDBM(IB)</td>
<td>8</td>
<td>12</td>
<td><a href="mailto:sbcheepuri@gmail.com">sbcheepuri@gmail.com</a></td>
</tr>
<tr>
<td>8</td>
<td>Mr. N.Anil Karthik</td>
<td>B.Tech(IT).,MBA(SYS&amp;HR)</td>
<td>2</td>
<td>5</td>
<td><a href="mailto:anil.naguri@gmail.com">anil.naguri@gmail.com</a></td>
</tr>
</tbody>
</table>
		</div>