<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body class="container">
<%- include('partials/head') %>
<%- include('partials/header') %>
This is User defined Layout
<%- body %>

<%- include('partials/footer') %>

</body>
</html>