<script>

function test()
{
		
	var data_1={{{data}}}
	alert(data_1)	;
		
}

test();
</script>

<div class="col-sm-8">

			<h3>Programs</h3>
			<p><ul class="info">
			<li> Programs are designed such that students gain exposure to theory and practice alike. Courses include lectures, case studies, and team projects; the mix though, will differ by specialization and by format.</li>

<li>Theory is covered in the classroom setting by academic faculty, and is reinforced through the case method, concepts presentations and placing the student in the role of the decision maker. Similar to real world business situations, cases include both constraints and incomplete information.</li>
<li> Programs are designed such that students gain exposure to theory and practice alike. Courses include lectures, case studies, and team projects; the mix though, will differ by specialization and by format.</li>

<li>Theory is covered in the classroom setting by academic faculty, and is reinforced through the case method, concepts presentations and placing the student in the role of the decision maker. Similar to real world business situations, cases include both constraints and incomplete information.</li>



</ul>
</p>
		</div>