<div class="col-sm-8">

			<h3>Reasearch & Publications</h3>
			<p><ul class="info">
			<li> "to identify and explore the use of e-commerce in developing country " : issn: 2231-2463, ijmbs ,cosmic journals.</li>

<li> "a study on customer perception towards internet banking : identifying major contributing factors with refernce to ap " : issn:2231-4334,ijrim,euro asia.</li>

<li> "implementation of agile project management it companies" paper published in shiv shakti international journal of multidisciplinary and academic research vol.7 no.1 feb, 2108, issn-2278-5973 (ugc-43659)</li>

<li>"implementation of agile project management for improving productivity" paper published in trans asian journal of marketing and management research. Vol.2 issue 2 of feb,2018 issn no:2279-0667 impact factor:sjif.4.289 (ugc- 45104)</li>

<li> "agile valuable for control & ownership" paper published in journal of management and science in vol.8.no.1 march, 2018 with issn: 2249-1260 e-issn:2250-1819 (ugc.no:49291)</li>

<li> a study of hrm practices and its impact on employees job pleasure in public sector banks: a case study of state bank of india, east godavari district, andhra pradesh" paper published in ijemr - february-march 2018 - vol.8 issue 02 with issn (online - 2249-2585) print .2249-8672 (ugc.no:49166) impact factor:5.76</li>

<li> "a study on evaluating employees stress in the sbi, icici and bank of baroda in the changing scenario of banking sector with reference to andhra pradesh", ijress, issn: 2249-7382, vol-5, issue-4, april- 2015.</li>

<li> A study on human resource planning impact of job characteristics on job satisfaction of employees in pharmaceutical companies at vishakapatnam district of andhra pradesh" paper published in "review of research" volume 8, issue 1 october, 2018- issn no:2249-894x in impact factor:5.7631 (ugc no:48514)</li>

<li> A study on job characteristics and job satisfaction effect work performance of employees with special reference to selected manufacturing companies at vishakhapatnam district of andhra pradesh" paper published on journal of emerging technologies and innovative research issn; no: 23495162 october, 2018, volume 5, issue 10, (ugc no: 63975)</li>

<li> "the role of supply chain disruption management in indian sea ports (a case study of andhra pradesh):'" paper published in review of research  volume 8, issue 7 april, 2019 issn no:2249-894x in impact factor:5.7631 (ugc no:48514)</li>

<li> "the new role of indian seaports as integral parts of global supply chains with special reference to andhra pradesh sea ports" paper published in trans asian journal of marketing management research , issn:2278-0667 volume 8 issue 3-4 march-april, 2019 impact factor: sjif: 5.946 (ugc- 45104)</li>

<li>"stress management : a case study of fertilizer companies" paper published in "merc global's international journal of management issn 2321-7278 (print) and issn 2321-7286 (online) volume 7 issue 2, april 2019 pp132-140 icds:3.30 (ugc- 49370)</li>

<li> "the impact of agile project management for improving productivity in information technology companies" paper published in "merc global's international journal of management issn 2321-7278 (print) and issn 2321-7286 (online) volume 7 issue 2, april 2019 pp152-157 icds:3.30 (ugc- 49370)</li>

<li> "the role of port performance in gateway logistics and supply chain management" paper published in merc global's international journal of management issn 2321-7278 (print) and issn 2321-7286 (online) volume 7 issue 3, july 2019 pp 274-281 index copernicus value: 70.64 icds:3.30 (ugc - 49370)

<li> "custiomer's impact study on selected indian advertisements using von restroff effect" international journal of multidiciplinary research centre, vol ii</li>

<li> Article with title "impact of effective communication on crm perspectives of insurance agents of east godavari district" was published in international journal of multidisciplinary educational research with issn:2277-7881. Volume 4, issue;12 (4), december issue in 2015 pp:12 -28 with an impact factor of 3.318.</li>

<li>. Article with title "a study on challenges in effective implementation of crm strategies - perspectives of insurance agents in east godavari district" was published in journal of exclusive management with issn:2277-5684. Volume 5, issue;3, march issue in 2016 pp:01 -08. Impact factor 2.78</li>

<li> Article with title "a study on various factors affecting the implementation of crm - agents perspectives in east godavari district, ap." Was published in research journal of commerce and behavioral science with issn: 2251 - 1547 volume 5 number 11, september in 2016.with impact factor 5.632</li>


</ul>
		</div>