<div class="col-sm-8">

			<h3>Result Upload</h3>
			<div class="row">
				<div class="col-sm-6">
					<!-- <img src="images/contact.png" /> -->
				</div>
				<div class="col-sm-8">
                   <p>Use the form below to upload a CSV file of Student Data. Click <a href="/template">here</a> for an example template.</p>
					<form action="/" method="POST" encType="multipart/form-data">
						<input type="file" name="file"  class="btn btn-outline-success" accept="*.csv" /><br/><br/>
						<input type="submit" class="btn btn-dark" value="Upload CSV" />
					</form>
				</div>
			</div>
		</div>






<!-- 


<div class="">
<h3>Result Portal</h3>
<br/><br/><br/><br/><br/>
			<div class="row">
				</div>
				<div class="col-sm-6">
					<p>Use the form below to upload a list of authors. Click <a href="/template">here</a> for an example template.</p>
					<form action="/" method="POST" encType="multipart/form-data">
						<input type="file" name="file" accept="*.csv" /><br/><br/>
						<input type="submit" value="Upload Authors" />
					</form>
				</div>
			</div>







 -->






