<script>var SITE_URL = 'http://wowslider.com/';</script>
<!--<link rel="stylesheet" href="css/mainstyle.css" type="text/css" media="screen">-->
<link rel="stylesheet" type="text/css" href="css/slider.css" />
<script type="text/javascript" src="js/jquery.js"></script>
<!--<div class="container">-->
	<div id="wowslider-container1">
		<div class="ws_images">
			<ul>
				<li><img src="images/slider01.jpg" alt="sms " title="" id="wows1_0"/></li>
				<li><img src="images/slider02.jpg" alt="sms " title="" id="wows1_1"/></li>
				<li><img src="images/p1.jpg" alt="sms " title="" id="wows1_2"/></li>
				<li><img src="images/slider02.jpg" alt="sms " title="" id="wows1_3"/></li>
			</ul>
		</div>
	<div class="ws_bullets"><div>
		<a href="#" title="JNTUK"><img src="images/slider01.jpg" alt="sms " title="JNTUK" id="wows1_0"/>1</a>
		<a href="#" title="JNTUK"><img src="images/slider02.jpg" alt="sms " title="JNTUK" id="wows1_1"/>2</a>
		<a href="#" title="JNTUK"><img src="images/p1.jpg" alt="sms " title="JNTUK" id="wows1_0"/>3</a>
		<a href="#" title="JNTUK"><img src="images/slider01.jpg" alt="sms " title="JNTUK" id="wows1_0"/>5</a>
	</div></div>
	<a class="wsl" href="https://mobirise.com/bootstrap-gallery/">javascript image gallery</a>
	<a href="#" class="ws_frame"></a>
	</div>
<script type="text/javascript" src="js/wowslider.js"></script>
<script type="text/javascript" src="js/script.js"></script>

<div class="container" id="pad">
	<div class="row">
	  <div class="col-sm-3 not"><img src="images/couses.png">Courses</div>
	  <div class="col-sm-3 not"><img src="images/placements.jpg">Placements</div>
	  <div class="col-sm-3 not"><img src="images/notifications.png">Notifications</div>
	  <div class="col-sm-3 not"><img src="images/sylabus.png">Syllabus</div>
	</div>
	<div class="row about">
		<div class="col-sm-12 one">
			<div class="director">
				<img src="images/Krishna-mohan.png">
				<h6>Dr. A. Krishna Mohan</h6>
				<p>Professor - In-Charge<br /> School of Management Studies</p>
			</div>
			<h3><span class="university">Welcome to School of Management Studies</span></h3>
			<p>The School of Management Studies (SMS) since its inception nurtures business leadership and grooms managers with skills and knowledge that are contemporary and meet industry needs on the face of rapid changes taking place in the industrial, financial and commercial world. </p>
			<p>
				To give importance to the management studies and to expand related activities, a separate "School of Management Studies" has been established during                2008-2009 years and is located in a modern spacious block with Regular MBA Programme and some
			 International Collaborations programs in management are being conducted. </p>
			<p>
		The School was designed to train students to become excellent general managers and high-level-decision-makers with broad strategic vision, this full-time two year residential program views management as an integrated process and helps students develop a global view and respond effectively to changes in the economic, technological, cultural and political environments. Specific skills in areas such as Information systems, Accounting, Finance, Marketing, Human Resource operations, and management lie at the heart of the course. </p>
		<p>
		SMS has a vision of developing a distinctive brand of leadership, well equipped with skills to address demanding challenges faced by the industry and the society. We, at SMS, believe in empowering our students and motivate them to advance in their own careers. </p>
		<p>
The School has three functions: teaching, research and training. While the flagship of MBA programme is extremely well known both nationally and internationally.SMS strives to create strong foundation through imparting education which contributes to holistic development of a responsible individual in the society. </p>
		<p>
		SMS besides its curriculum, take active part in their personality grooming, communication, and presentation skills, business etiquettes, general knowledge and observance of executive dress and fitness code. They are the beneficiaries of regular counseling for generating an entrepreneurial attitude towards management of every event in life.</p>
		</div>
	</div>
	<div class="row about" style="border: 1px solid #e2e2e247;border-radius: 5px;box-shadow: 1px 1px 1px #e2e2e27a;background: #f2f2f24f;">
		<div class="col-sm-7">
			<h5>SMS is state renowned for it's: </h5>
			<ul>
				<li> Balanced practical and theoretical education for MBA graduates.</li>
				<li> Knowledgeable academic staff with hands-on industry experience, long-term links to business and thriving research     programme.</li>
				<li> Strong connections with City firms, international business and our community of students, alumni, and partners.</li>
			</ul>
			<h5>Vision: </h5>
			<ul>
				<li> To build leaders and entrepreneurs through holistic transformation and innovative management education.</li>
			</ul>
			<h5>Mission:</h5>
			<ul>
				<li>To develop management skills through imparting theory and practice </li>
				<li>To develop academic excellence through research in management education</li>
				<li>To produce professional managers by innovative teaching methods.</li>
			</ul>
		</div>
		<div class="col-sm-5">
			<img src="images/mba.jpg" />
		</div>
	</div>
	
			
<div class="row placements about">
	<div class="col-sm-12">
		<h3><span class="place">Placements</span></h3>
		<div id="clients">
			<div class="clients-wrap">
				<ul id="clients-list" class="clearfix client-logo" >
					<li><img src="images/karvy.png"></li>
					<li><img src="images/infosys.jpg"></li>
					<li><img src="images/Companies-3.jpg"></li>
					<li><img src="images/Companies-4.jpg"></li>
					<li><img src="images/Companies-5.jpg"></li>
					<li><img src="images/Companies-6.jpg"></li>
				</ul>
			</div>
		</div>
	</div>
</div>



			
		
</div>
