
    <div class="jumbotron">
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>
        <p><%= no_records %></p>
    </div>
<img src="images/Krishna-mohan.png" width="100px" height="100px">
    <h2>Loop</h2>


